$content: center;

@mixin flexCenter($direction, $position, $content) {
	display: flex;
	justify-content: $content;
	align-items: $position;
	flex-direction: $direction;
	position: relative;
}

@mixin input(){

}

@mixin button(){

}

