$primaryBtn: blue;
$primaryText: white;
$color-collection: (#2828d5f0, rgb(138,8,8), rgba(255, 249, 249, 0.886), rgb(64, 120, 155));
$textSize: 10px;


$gradients: () !default;
$gradients: map-merge((
    chill: linear-gradient(135deg, #2828d5f0 20%,#0291e3 80%),
    warm: linear-gradient(135deg, #F2CD48 0%,#FD803F 100%),
    hot: linear-gradient(135deg, #F9445A 0%,#FD803F 100%),
    cold: linear-gradient(135deg, #8019C6 0%,#2F93CC 100%)
), $gradients);


