$size: 60px;

@import './variables';
@import './mixins';

.container{
	@include flexCenter(column, flex-start, '');
	display:block;
}
.node-container {
	@include flexCenter(wrap, center, center);
	height: 90vh;
}


form {
	@include flexCenter(column, center, center);
	width: 100%;

	&.wiki-search{
		@include flexCenter(row, '', '');
	}
}

input {
	width: 600px;
	height: $size;
	font-size: $size;
	text-align: center;
	font-family: 'Kalam', sans-serif;
	background: transparent;
	margin: 0;
	display: inline-block;
	color: rgba(nth($color-collection,2),.5);
	padding: 30px;
	padding-bottom: 30px;
	padding-bottom: 40px;
	box-sizing: border-box;
	border: none;
	border-bottom-style: none;
	border-bottom: 3px solid rgba(nth($color-collection,4),.1);
}


button {
	@include flexCenter(column, right, center);
	border: none;
	width: $size*2;
	height: $size;
	background: transparent;
	font-size: $size/2;
	color:  rgba(nth($color-collection,2),.5);
	
	&#node{
		@include flexCenter(column, wrap, center);
		width: $size;
		font-size: 9px;
		color: $primaryText;
		border: 2px dotted nth($color-collection,3);
		border-radius: $size / 2;
		background: map-get($map: $gradients, $key: chill );
	}

	&:hover {
		color: nth($color-collection,1);
		border: 1px solid nth($color-collection,1);
		border-radius: 4px;
	}

}

.tooltip{
	cursor: pointer;
  position: relative;

  //Tooltip text container - above element
  //You can adjust the position to make the container appear below or beside the element
  &::before {
    background-color: nth($color-collection,3);;
    border-radius: 5px;
    color: (nth($color-collection,2));
    content: attr(aria-label); 
    left: -80px; //This centers the container above the element
    padding: 1rem;
    position: absolute;
    text-transform: none;
    top: -80px; //This places the container above the element that needs a tooltip
    transition: all 0.5s ease;
    width: 160px;
  }

  //Tooltip arrow
  //You can adjust the position of this to align nicely with the element that
  //needs a tooltip. You can also use `transform` to rotate it to make the
  //tooltip work below or next to the element.
  &::after {
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #000;
    content: " ";
    font-size: 0;
    left: 9px; //This centers the arrow above the element with the tooltip
    line-height: 0;
    margin-left: -5px;
    position: absolute;
    top: -12px; //This positions the arrow at the bottom of the container
    width: 0;
  }

  //Setting up the transition
  &::before,
  &::after {
    opacity: 0;
    pointer-events: none;
  }

  //Triggering the transition
  &:focus::before,
  &:focus::after,
  &:hover::before,
  &:hover::after {
    opacity: 1;
    transition: all 0.75s ease;
  }
}
