$size: 50px;
$text: white;
$color-collection: (rgba(40, 40, 213, 0.94), rgb(138,8,8), rgba(255, 249, 249, 0.886), rgb(64, 120, 155));


// @for $i from 0 to length($color-collection) {
//     .color-#{$i} {
//         color: unquote(nth($color-collection, $i+1));
//     }
// }





// #test {
//   color: red;
// }

// @for $var from 1 to .circle children

//   #test { :nth-child(#{$var}){
//     top: random(750) + px;
//     left: random(1500) + px;
//     opacity: random();
//     font-size: random(10) + px;
//   }
//   }
// }

// https://jsfiddle.net/ccnb322a/1/ //animated brown squares

