@import '../../components/variables';
@import '../../components/mixins';

.App {
  @include flexCenter(row, center, center);
  height: 100vh;
}


.header-footer {
	flex: 0 0 0 0;
  width: 100%;
  @include flexCenter(absolute, center, center);
  font-size: calc(10px + 2vmin);
	color: nth($color-collection,1)
}

footer {
  margin-bottom: 0;
}


