@import '../../components/variables';
@import '../../components/mixins';

.App {
  @include flexCenter(row, center);
}

.header-footer {
  bottom: 0;
  width: 100%;
  @include flexCenter(absolute, center);
  font-size: calc(10px + 2vmin);
  background: map-get($map: $gradients, $key: chill );
  color: nth($color-collection,1)
}





